{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "printWidth": 200,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.liquid"],
      "options": {
        "embeddedSingleQuote": true,
        "indentSchema": true,
        "liquidSingleQuote": true,
        "parser": "liquid-html",
        "singleQuote": false,
        "singleLineLinkTags": false
      }
    }
  ]
}
