@use '../../mixins' as *;

.social-sharing-section {
  .social-sharing {
    margin-bottom: -(#{rem(8)});
    &__item {
      margin: 0 rem(8) rem(8) 0;
      transition: transform var(--duration-short) linear;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__link {
      display: block;
    }
  }
}
