@layer base {
  .backdrop {
    @apply pointer-events-none
      fixed
      inset-0
      h-full
      w-full
      bg-black
      opacity-0
      transition-all
      duration-300;
  }
  .backdrop--active {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='40' height='40' viewBox='0 0 512 512'%3E%3Cpath fill='transparent' d='M256 7C118.467 7 7 118.468 7 256.002 7 393.533 118.467 505 256 505s249-111.467 249-248.998C505 118.468 393.533 7 256 7zm0 478.08c-126.31 0-229.08-102.771-229.08-229.078C26.92 129.692 129.69 26.92 256 26.92c126.309 0 229.08 102.771 229.08 229.082 0 126.307-102.771 229.078-229.08 229.078z'/%3E%3Cpath fill='%23fff' d='m368.545 157.073-14.084-14.085-98.598 98.599-98.13-98.131-14.085 14.084 98.132 98.132-98.132 98.137 14.085 14.084 98.13-98.143 98.598 98.611 14.084-14.086-98.598-98.603z'/%3E%3C/svg%3E"),
      pointer;
    @apply pointer-events-auto opacity-50;
  }
}
