@layer base {
  body {
    @apply m-0
      flex
      min-h-screen
      flex-col
      font-body
      text-base
      not-italic
      leading-normal;
  }
  .content-for-layout {
    @apply flex-auto;
  }

  // accessibility optimizations
  @media (max-height: 480px) {
    .cart__subtotal,
    .cart-drawer__footer,
    .filter__footer,
    .header-sticky .shopify-section-group-header-group {
      position: static !important;
    }
  }
}
