@layer base {
  .container {
    @apply mx-auto my-container-spacing;
    &--background {
      @apply my-0 py-container-spacing;
    }

    &__header,
    &__content,
    &__footer {
      @apply mx-auto
      mb-element-spacing
      w-full
      max-w-screen-2xl
      px-content-wrapper-padding
      last:mb-0;

      // Container sizes
      .container--sm & {
        @apply max-w-content-width-sm;
      }
      .container--md & {
        @apply max-w-content-width-md;
      }
      .container--wide & {
        @apply max-w-full;
      }
      .container--full & {
        @apply max-w-full px-0;
      }
    }
  }
}
