@layer base {
  *:focus-visible {
    @apply outline-dashed outline-1 outline-offset-0 outline-primary-300;
  }
  .button:focus-visible {
    @apply outline-offset-2;
  }

  /* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
  @supports not selector(:focus-visible) {
    *:focus {
      @apply outline-dashed outline-1 outline-offset-0 outline-primary-300;
    }
    .button:focus-visible {
      @apply outline-offset-2;
    }
  }

  ::selection {
    color: theme('colors.white');
    background: theme('colors.primary.600');
    -webkit-text-fill-color: theme('colors.white');
  }

  /* Dangerous for a11y - Use with care */
  .focus-none {
    @apply shadow-none outline-0 #{!important};
  }

  /* Hide browser cancel button */
  *::-webkit-search-cancel-button {
    @apply hidden;
  }
}
