@layer base {
  /*
    Focus ring - default (with offset)
  */
  *:focus-visible {
    @apply outline-dashed outline-offset-2 outline-primary-300;
  }

  /* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
  @supports not selector(:focus-visible) {
    *:focus {
      @apply outline-dashed outline-offset-2 outline-primary-300;
    }
  }

  ::selection {
    color: var(--color-white);
    background: var(--color-primary-500);
    -webkit-text-fill-color: var(--color-white);
  }

  /* Dangerous for a11y - Use with care */
  .focus-none {
    @apply shadow-none outline-0 #{!important};
  }

  /* Hide browser cancel button */
  *::-webkit-search-cancel-button {
    @apply hidden;
  }
}
