/*
 * Please use custom font sizes for the rte. So when you change the default font sizes in the tailwind config these are not effected.
*/

@layer base {
  .rte {
    @apply max-w-none
    text-inherit
    rte-headings:mb-5
    rte-headings:mt-8
    rte-headings:font-bold
    rte-headings:leading-[1.2]
    rte-headings:text-inherit
    rte-h1:text-[2rem]
    rte-h2:text-[1.5rem]
    rte-h3:text-[1.25rem]
    rte-h4:text-[1.25rem]
    rte-h5:text-[1.1rem]
    rte-h6:text-[1.1rem]
    rte-p:mt-0
    last:rte-p:mb-0
    rte-blockquote:mb-5
    rte-blockquote:mt-0
    rte-strong:text-inherit
    md:rte-h1:text-[2.25rem]
    md:rte-h2:text-[2rem]
    md:rte-h3:text-[1.75rem]
    md:rte-h4:text-[1.5rem]
    md:rte-h5:text-[1.25rem]
    md:rte-h6:text-[1.1rem];
  }
}
