<!doctype html>
<html class="no-js no-touch group/html" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {%- liquid
      render 'html-header-title'
      render 'html-header-canonical'
      render 'html-header-prefetch'
      render 'html-header-preconnect'
      render 'html-header-favicon'
      render 'html-header-description'
      render 'html-header-tags'
      render 'html-header-fonts'
      render 'html-header-css'
      render 'html-header-js'
      render 'html-header-google'
      render 'html-header-gtm', container: 'head'
    -%}
    {{ content_for_header }}
  </head>

  <body class="group/body {% render 'html-template-class' %} {% if template.name == 'cart' %}pb-[157px] md:pb-0{%- endif -%}">
    {%- render 'html-header-gtm', container: 'body' -%}

    <a
      class="skip-to-content button button--secondary sr-only !absolute z-10 self-start focus:not-sr-only focus:px-4 focus:py-2 focus:text-secondary-text"
      href="#MainContent">
      {% render 'render-translation', namespace: 'accessibility', key: 'skip_to_text', fallback: 'Skip to text' -%}
    </a>

    {%- sections 'header-group' %}

    {%- liquid
      # always render the cart notification, because it will display the quantity error
      render 'cart-notification'
    -%}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    <ul hidden>
      <li id="a11y-refresh-page-message">
        {% render 'render-translation', namespace: 'accessibility', key: 'refresh_page', fallback: 'Refresh page' -%}
      </li>
    </ul>

    {%- liquid
      render 'html-footer-js'
      render 'seo-json-ld'

      if settings.klaviyo_bis_api_key != blank
        render 'klaviyo-tracking', render_script_tags: true

        if settings.klaviyo_bis
          render 'klaviyo-back-in-stock'
        endif
      endif
    -%}
  </body>
</html>
