{%- comment -%} Set variables {%- endcomment -%}
{%- liquid
  assign render_blog_articles = false
  assign render_products = false

  # Global assigns
  if section.settings.collection != blank
    assign render_products = true
    assign object = section.settings.collection
    assign max_count = object.all_products_count
    assign object_array = object.products
  elsif section.settings.product_list != blank
    assign render_products = true
    assign max_count = section.settings.product_list.size
    assign object_array = section.settings.product_list
  elsif section.settings.blog != blank
    assign render_blog_articles = true
    assign object = blogs[section.settings.blog]
    assign max_count = object.articles_count
    assign object_array = object.articles
    assign tag_to_show = section.settings.tag | split: ':' | last | downcase
  endif

  # If the number of items is higher than the given setting, use the setting
  if max_count > section.settings.max_count
    assign max_count = section.settings.max_count
  endif
-%}

{%- comment -%} Capture content {%- endcomment -%}
{%- capture container_content -%}
  {%- render 'swiper-content',
    object_array: object_array,
    render_products: render_products,
    render_blog_articles: render_blog_articles,
    max_count: max_count,
    tag_to_show: tag_to_show,
    index_on_page: section.index,
    id: section.id,
    swiper_indication: section.settings.swiper_indication,
    swiper_navigation: section.settings.swiper_navigation,
    swiper_autoplay: section.settings.swiper_autoplay,
    swiper_autoplay_delay: section.settings.swiper_autoplay_delay
  -%}
{%- endcapture -%}

{%- capture container_footer -%}
  {%- if section.settings.button_text != blank -%}
    <a
      {% if section.settings.button_url != blank or object.url != blank %}
        href="{{ section.settings.button_url | default: object.url }}"
      {% else %}
        disabled
      {% endif %}
      class="button {{ section.settings.button_size }} {{ section.settings.button_color_scheme }}"
    >
      {{- section.settings.button_text -}}
    </a>
  {%- endif -%}
{%- endcapture -%}

{%- liquid
  # Container class
  assign container_class = 'overflow-hidden'
  if section.settings.color_scheme != blank
    assign container_class = container_class | append: ' container--background my-0 group/color-scheme ' | append: section.settings.color_scheme
  endif

  # Title Class
  assign title_class = section.settings.heading_size | append: ' ' | append: section.settings.heading_align
-%}

{%- comment -%} Render the content {%- endcomment -%}
{%- render 'render-container-content',
  class: container_class,
  title_tag: section.settings.heading_element,
  title_class: title_class,
  title: section.settings.title,
  content: container_content,
  content_class: 'p-0',
  footer_class: section.settings.button_align,
  footer_content: container_footer
-%}

{% schema %}
  {
    "name": "Featured content slider",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Layout settings"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "default": "",
        "label": "Color scheme",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray"
          }
        ]
      },
      {
        "type": "header",
        "content": "Collection/product settings",
        "info": "Select a collection to display recent items or select individual products."
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 12
      },
      {
        "type": "header",
        "content": "Blog settings",
        "info": "Select a blog to display recent items or choose a tag to highlight."
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tag",
        "info": "Enter the tag to display including the prefix.",
        "placeholder": "type:campaign"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "range",
        "id": "max_count",
        "min": 4,
        "max": 12,
        "step": 1,
        "default": 8,
        "label": "Maximum items to show"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_align",
        "label": "Header align",
        "default": "text-center",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_element",
        "label": "Heading element",
        "default": "h2",
        "info": "Change the element of the heading for SEO purposes. Every page should only have one H1.",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading size",
        "default": "h4",
        "info": "This is applied only for visual reasons.",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ]
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Text",
        "default": "View all",
        "info": "Leave empty to hide."
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Url",
        "info": "Optional. Overwrite the button link. The default is the selected collection."
      },
      {
        "type": "select",
        "id": "button_color_scheme",
        "default": "",
        "label": "Type",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "button--primary",
            "label": "Primary"
          },
          {
            "value": "button--secondary",
            "label": "Secondary"
          },
          {
            "value": "button--outline",
            "label": "Outline"
          },
          {
            "value": "button--outline-white",
            "label": "Outline white"
          },
          {
            "value": "button--link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_size",
        "default": "button--md",
        "label": "Size",
        "options": [
          {
            "value": "button--sm",
            "label": "Small"
          },
          {
            "value": "button--md",
            "label": "Medium"
          },
          {
            "value": "button--lg",
            "label": "Large"
          },
          {
            "value": "button--xl",
            "label": "Extra large"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_align",
        "label": "Button alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-start",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "select",
        "id": "swiper_indication",
        "label": "Slider indication",
        "default": "pagination",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "pagination",
            "label": "Pagination"
          },
          {
            "value": "scrollbar",
            "label": "Scrollbar"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "swiper_navigation",
        "label": "Show Navigation",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "swiper_autoplay",
        "label": "Enable autoplay",
        "default": false
      },
      {
        "type": "number",
        "id": "swiper_autoplay_delay",
        "label": "Autoplay delay",
        "default": 7500,
        "info": "Delay between transitions (in ms)"
      }
    ],
    "presets": [
      {
        "name": "Featured content slider"
      }
    ],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}
