{%- capture container_content -%}

  {% comment %} Search type navigation {% endcomment %}
  {%- if search.performed -%}
    <search-types class="mb-10">
      <div id="search-types">
        {%- render 'search-types', search: search -%}
      </div>

      {% comment %} Results count {% endcomment %}
      <div id="result-count" class="my-4 text-center italic">
        <p>
          {%- liquid
            if search.results_count == 0
              echo 'sections.main_search.no_results' | t: terms: search.terms
            else
              echo 'sections.main_search.results_with_count' | t: terms: search.terms, count: search.results_count
            endif
          -%}
        </p>
      </div>
    </search-types>
  {%- endif -%}

  {%- render 'search-form',
    predictive_search_enabled: false,
    prefix: 'search-page',
    max_results: settings.predictive_search_max_results_per_type
  -%}

  {%- if search.performed -%}
    <hr class="bg-gray-100">
  {%- endif -%}

  <search-results>
    {% comment %} Loader animation {% endcomment %}
    <div class="loading-overlay absolute inset-0 z-50 flex hidden w-full items-center justify-center bg-bg-default opacity-70" data-loader>
      {%- render 'icons', icon: 'spinner', icon_class: 'w-6 animate-spin' -%}
    </div>

    {% comment %} Results wrapper {% endcomment %}
    <div id="search-results" class="search-results">
      {%- render 'search-results', search: search -%}
    </div>
  </search-results>
{%- endcapture -%}

{%- liquid
  capture container_title
    if search.performed
      render 'render-translation', namespace: 'sections.main_search', key: 'title_search_performed', fallback: 'Search results'
    else
      render 'render-translation', namespace: 'sections.main_search', key: 'title', fallback: 'Search'
    endif
  endcapture
-%}

{%- comment -%} Render the content {%- endcomment -%}
{%-
  render 'render-container-content',
  content: container_content,
  class: 'group/search-page mt-8 w-full',
  header_class: 'mb-8',
  title: container_title,
  title_tag: 'h1',
  title_class: 'text-center',
-%}

{%- comment -%} Import javascript {%- endcomment -%}
<script src="{{ 'search-results.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Search results",
    "tag": "section",
    "class": "main-search-section",
    "settings": [
      {
        "type": "header",
        "content": "Blog card"
      },
      {
        "type": "checkbox",
        "id": "article_show_date",
        "default": true,
        "label": "Show date"
      },
      {
        "type": "checkbox",
        "id": "article_show_author",
        "default": false,
        "label": "Show author"
      }
    ]
  }
{% endschema %}
