{%- comment -%} Set container title and import styles for this section {%- endcomment -%}
{%- liquid
  render 'import-styles', file_name: 'component-list-options.css'
  render 'import-styles', file_name: 'component-swiper.css'

  # check for filters
  assign filtered_collection = false
  for filter in collection.filters
    if filter.active_values.size > 0 or filter.max_value.value > 0 or filter.min_value.value > 0
      assign filtered_collection = true
      break
    endif
  endfor
-%}

<div id="main-collection" data-main-collection data-id="{{ section.id }}">
  {% comment %} The collection header {% endcomment %}
  {%- render 'collection-header', section: section, is_filtered: filtered_collection -%}

  {% comment %} The filters and the products {% endcomment %}
  {%- capture container_content -%}
    {%- if collection.products.size == 0 -%}
      {% comment %} No products found {% endcomment %}
      <div class="text-center">
        <h3 class="h4">
          {%- render 'render-translation', namespace: 'sections.collection_template', key: 'empty', fallback: 'No products found.' -%}
        </h3>
        {%- if filtered_collection -%}
          <p>{{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url }}</p>
        {%- endif -%}
      </div>
    {%- else -%}
      {%- if settings.filter_display == 'drawer' -%}
        {%- liquid
            render 'collection-filters', section: section
            render 'collection-product-grid', section: section
        -%}
      {%- else -%}
        <div class="lg:grid lg:grid-cols-12">
          <div class="lg:col-span-3">
            {%- render 'collection-filters', section: section -%}
          </div>
          <div class="lg:col-span-9">
            {%- render 'collection-product-grid', section: section -%}
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
  {%- endcapture -%}

  {%- capture content_class -%}
    {% if settings.filter_display == 'grid' -%}lg:ps-0{%- else -%}px-0{%- endif -%}
  {%- endcapture -%}

  {%- render 'render-container-content', content: container_content, content_class: content_class -%}
</div>

<script src="{{ 'collection-filters-form.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "header",
        "content": "Collection header"
      },
      {
        "type": "paragraph",
        "content": "To change collection descriptions or collection images, [edit your collections.](/admin/collections)"
      },
      {
        "type": "select",
        "id": "header_color_scheme",
        "default": "color-scheme color-scheme--secondary",
        "label": "Color scheme",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "color-scheme color-scheme--gradient",
            "label": "Gradient",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--primary",
            "label": "Primary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--secondary",
            "label": "Secondary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--accent",
            "label": "Accent",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--black",
            "label": "Black",
            "group": "Standard"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "Show collection image"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": false,
        "label": "Show collection description"
      },
      {
        "type": "checkbox",
        "id": "show_collection_layout_buttons",
        "default": true,
        "label": "Show collection layout buttons (mobile only)",
        "info": "If enabled, buttons will appear on smaller devices to change the layout grid. This button is hidden on larger screens."
      },
      {
        "type": "header",
        "content": "Collection sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "default": true,
        "label": "Enable sorting"
      },
      {
        "type": "header",
        "content": "Section options"
      },
      {
        "type": "checkbox",
        "id": "show_back_to_top",
        "default": true,
        "label": "Show 'Back to top' button"
      }
    ]
  }
{% endschema %}
