{%- comment -%} Set container title and import styles for this section {%- endcomment -%}
{%- liquid
  render 'import-styles', file_name: 'component-list-options.css'
  render 'import-styles', file_name: 'component-swiper.css'
-%}

{%- comment -%} Render the main collection. {%- endcomment -%}
<div id="main-collection" data-main-collection data-id="{{ section.id }}">
  {% comment %} The collection header {% endcomment %}
  {%- render 'collection-header', section: section -%}

  {% comment %} The filters and the products {% endcomment %}
  {%- if settings.filter_display == 'drawer' -%}
    {%- liquid
      capture container_content
        render 'collection-filters', section: section
        render 'collection-product-grid', section: section
      endcapture
    -%}
  {%- else -%}
    {%- capture container_content -%}
      <div class="lg:grid lg:grid-cols-12">
        <div class="lg:col-span-3">
          {%- render 'collection-filters', section: section -%}
        </div>
        <div class="lg:col-span-9">
          {%- render 'collection-product-grid', section: section -%}
        </div>
      </div>
    {%- endcapture -%}
  {%- endif -%}

  {%- render 'render-container-content', content: container_content -%}
</div>

<script src="{{ 'collection-filters-form.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "header",
        "content": "Collection header"
      },
      {
        "type": "paragraph",
        "content": "To change collection descriptions or collection images, [edit your collections.](/admin/collections)"
      },
      {
        "type": "select",
        "id": "header_color_scheme",
        "default": "color-scheme color-scheme--secondary",
        "label": "Color scheme",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "color-scheme color-scheme--gradient",
            "label": "Gradient",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--primary",
            "label": "Primary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--secondary",
            "label": "Secondary",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--accent",
            "label": "Accent",
            "group": "Theme"
          },
          {
            "value": "color-scheme color-scheme--gray",
            "label": "Gray",
            "group": "Standard"
          },
          {
            "value": "color-scheme color-scheme--black",
            "label": "Black",
            "group": "Standard"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "Show collection image"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": false,
        "label": "Show collection description"
      },
      {
        "type": "checkbox",
        "id": "show_collection_layout_buttons",
        "default": true,
        "label": "Show collection layout buttons on mobile",
        "info": "If enabled, buttons will appear on smaller devices to change the layout grid."
      },
      {
        "type": "header",
        "content": "Collection sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "default": true,
        "label": "Enable sorting"
      },
      {
        "type": "header",
        "content": "Section options"
      },
      {
        "type": "select",
        "id": "pagination_view",
        "label": "Pagination type",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
          {
            "value": "load-more",
            "label": "Load more"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_back_to_top",
        "default": true,
        "label": "Show back to top button"
      }
    ]
  }
{% endschema %}
