{%- comment -%}
  Implementation of Shopifys predictive search
  https://shopify.dev/themes/navigation-search/search/predictive-search
{%- endcomment -%}

{%- if predictive_search.performed -%}
  {%- capture results -%}
    <div class="flex flex-col gap-base md:flex-row">

      {% comment %} Collections - note these are only rendered in the predictive search and cannot be rendered on the search page {% endcomment %}
      {%- if predictive_search.resources.collections.size > 0 and settings.predictive_search_collections -%}
        <div class="col basis-1/3">
          {%- render 'predictive-search-item',
            type: 'collection',
            results_array: predictive_search.resources.collections
          -%}
        </div>
      {%- endif -%}

      {% comment %} Products {% endcomment %}
      {%- if predictive_search.resources.products.size > 0 and settings.predictive_search_products -%}
        <div class="col basis-1/3">
          {%- render 'predictive-search-item',
            type: 'product',
            results_array: predictive_search.resources.products
          -%}
        </div>
      {%- endif -%}

      <div class="col basis-1/3">
        {%- liquid
          # Articles
          if predictive_search.resources.articles.size > 0 and settings.predictive_search_articles
            render 'predictive-search-item', type: 'article', results_array: predictive_search.resources.articles
          endif

          # Pages
          if predictive_search.resources.pages.size > 0 and settings.predictive_search_pages
            render 'predictive-search-item', type: 'page', results_array: predictive_search.resources.pages
          endif
        -%}
      </div>
    </div>
  {%- endcapture -%}

  <div class="predictive-search-results">
    <div class="predictive-search-results__inner mt-10 w-full">
      {%- if results != blank -%}
        {{- results -}}
        {%- comment -%} Only show the go to /search with params when products, articles or pages is enabled. The normal /search page is not supporting collections. {%- endcomment -%}
        {%- if settings.predictive_search_products or settings.predictive_search_articles or settings.predictive_search_pages -%}
          {% comment %} 'All results' link {% endcomment %}
          <div class="predictive-search__group predictive-search__group--footer mb-4 mt-4 text-center">
            <a href="{{ routes.search_url }}?q={{ predictive_search.terms }}&options[prefix]=last" class="button button--primary no-touch:button--sm touch:button-lg">
              {%- liquid
                render 'render-translation', namespace: 'general.predictive_search', key: 'button_submit_label', fallback: 'Search for "echo html ".', html: predictive_search.terms
                render 'icons', icon: 'arrow', icon_class: 'w-3'
              -%}
            </a>
          </div>
        {%- endif -%}
      {%- else -%}
        {%- render 'render-translation', namespace: 'general.predictive_search', key: 'nothing_found_title', fallback: 'Nothing found' -%}
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
