<div class="article-card {{ class -}}">
  <div class="article-card__image-wrapper">
    <figure class="img img--wrapper bg mb-0 block aspect-[4/3] bg-accent-100 text-accent">
      {{- 'collection-1' | placeholder_svg_tag -}}
    </figure>
  </div>
  <div class="article-card__content mt-4">
    <header class="article-card__header grid grid-cols-1 gap-4">
      <div class="grid grid-cols-1 gap-1">
        <p class="article-card__title mb-0 text-lg leading-6">Title</p>
      </div>
    </header>
  </div>
</div>
