<back-to-top class="back-to-top my-14 block text-center md:my-16">
  <button type="button" class="back-to-top__buton button button--link">
    {%- render 'format-translation', namespace: 'general.back_to_top', fallback: 'Back to top' -%}
    {%- render 'global-icon', icon: 'arrow', icon_class: 'w-5 -rotate-90' -%}
  </button>
</back-to-top>
