{% comment %}
  Renders a collection card

  # Standard parameters
    collection          | Object  | Required | Collection Liquid object
    aspect_ratio         | string  | Optional | Aspect ratio, For example: '16/9' or '4/3'

  Usage:
    {%- render 'collection-card',
      collection: collection,
      aspect_ratio: section.settings.image_ratio,
    -%}
{% endcomment %}

{%- liquid
  assign featured_image = collection.featured_image

  unless image_lazy != null
    assign image_lazy = true
  endunless

  unless image_alt
    assign image_alt = featured_image.alt
    if image_alt == blank
      assign image_alt = collection.title | escape
    endif
  endunless

  unless image_title
    assign image_title = collection.featured_image.alt
    if image_title == blank
      assign image_title = collection.title | escape
    endif
  endunless

  unless aspect_ratio
    assign aspect_ratio = '1/1'
  endunless
-%}
<a
  href="{{ collection.url }}"
  class="collection-card group/collection-card block text-center text-current group-hover/collection-card:no-underline group-focus-visible/collection-card:no-underline">
  <div class="collection-card__image transition-all group-hover/collection-card:scale-110 group-focus-visible/collection-card:scale-110">
    {%- render 'responsive-image',
      image_object: featured_image,
      alt: image_alt,
      title: image_title,
      sizes: '(min-width: 1440px) 316px, (min-width: 1280px) 21.56vw, (min-width: 768px) 27vw, 43vw',
      max_width: 379,
      aspect_ratio: aspect_ratio,
      lazy: image_lazy,
      class: 'object-contain mx-auto'
    -%}
  </div>
  <div class="collection-card__content pt-3">
    <p class="collection-card__title h4 text-center transition-colors group-hover/collection-card:text-primary  group-focus-visible/collection-card:text-primary">
      {{- collection.title | escape -}}
    </p>
  </div>
</a>
