{%- comment -%}
  Render payment icons. Items to be shown are set in the theme settings.

  # Optional
  - icon_size {String} Size of the icon. w-5, w-6, w-8 (optional).
  - list_class {String} Classes that will be placed on the ul (optional).

  # Example
  {%- render linklist, linklist: block.settings.menu, prefix: 'footer-menu', collapsible: false -%}
{%- endcomment -%}

{%- liquid
  case icon_size
    when 'w-6'
      assign width =
    when 'w-8'

    else

  endcase
-%}

<p class="sr-only">
  {%- render 'render-translation', namespace: 'sections.footer.payment_methods', fallback: 'Payment methods' -%}
</p>

<ul class="payment-icons__list flex flex-wrap items-center gap-2 {{ list_class }}">
  {% for type in shop.enabled_payment_types -%}
    <li class="payment-icons__item {{ icon_size }} [&>svg]:h-full [&>svg]:w-full">
      {{ type | payment_type_svg_tag }}
    </li>
  {% endfor %}
</ul>
