{% comment %}
  For now, the translation app doesn't translate the navigation labels in the code, even though they are translated in the frontend. So be sure to not translate the level_1_title in the translation app.


   {%- render 'header-images',
      section: section,
      level_1_title: level_1_title
    -%}
{% endcomment %}

{%- liquid
  # Add the optional menu image for 3 level menu's
  for block in section.blocks
    if block.settings.image != blank and block.settings.text != blank
      # Handleize the item to match to make sure it's case-insensitive.
      assign image_alt = level_1_title
      assign menu_link_title = level_1_title | handleize
      assign link_block_title = block.settings.text | handleize
      # Check if there is a match, if so output.
      if menu_link_title == link_block_title
        if block.settings.url != blank
          echo '<a href="' | append: block.settings.url | append: '">'
        endif
        render 'responsive-image', image_object: block.settings.image, alt: image_alt, sizes: '(min-width: 1440px) 448px, (min-width: 1024px) 31vw, (min-width: 400px) 400px, (min-width: 320px) 320px', max_width: 448, class: 'lg:object-cover lg:h-full'
        if block.settings.url != blank
          echo '</a>'
        endif
      endif
    endif
  endfor
-%}
