{% liquid
  capture seo_title
    assign separator = ' | '
    assign shop_name = shop.name
    if template.name == 'index'
      assign shop_name = page_title
    endif
    if shop_name == blank and settings.shop_name != blank
      assign shop_name = settings.shop_name
    endif

    # Title for giftcard
    if template contains 'gift_card'
      assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency
      assign formatted_initial_value_stripped = formatted_initial_value | strip_html
      echo 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop_name
    else
      # Title for searchresult
      if search.performed
        echo page_title | remove: '*'
      else
        echo page_title
      endif

      # Add tag filters
      if current_tags
        assign meta_tags = current_tags | join: ', '
        echo 'general.meta.tags' | t: tags: meta_tags | prepend: separator
      endif

      # Add pagination
      if current_page != 1
        echo 'general.meta.page' | t: page: current_page | prepend: separator
      endif

      # Escape
      assign escaped_page_title = page_title
    endif

    # Add shop name
    unless escaped_page_title contains shop_name
      echo shop_name | prepend: separator
    endunless
  endcapture

  # Homepage
  if template.name == 'index' and shop_name != blank
    assign seo_title = shop_name
  endif
%}
<title>{{ seo_title }}</title>
