{% comment %}
  Renders a page card

  Accepts:
  - page: {Object} Page liquid object (required)

  Usage:
    {%- render 'page-card', page: page -%}

  Defaults:
{% endcomment %}

<a href="{{ page.url }}" class="page-card label-lg no-underline">
  {{ page.title }}
</a>
