{%- comment -%}
  Renders the filter options as collapsbile elements. This is a section setting that can be toggled off.

  Accepts:
    - label: shown as the filter label in the main menu. (required)
    - summary_content: everything that should be in the sub-menu (required)
    - filter_index: forloop.index from the collection.filters loop. (required)
{%- endcomment -%}

<div
  class="filter-group filter-group{{ label | handleize }} mb-4 border-b py-4"
  data-filter-option
  data-index="{{ filter_index }}">
  <p class="filter-group__title text-sm font-bold">
    {{- label | escape -}}
  </p>
  <div class="filter-group__target">
    <div class="pb-4">
      {{- summary_content -}}
    </div>
  </div>
</div>
