{%- comment -%} 
  This template is used to retrieve the products and the filters. Those elements are then loaded in the search page.
  https://shopify.dev/api/section-rendering
{%- endcomment -%}
{%- layout none -%}

{%- liquid
  paginate search.results by settings.products_per_page
    assign total_for_first_pages = paginate.items | divided_by: settings.products_per_page | times: settings.products_per_page
    assign items_on_last_page = paginate.items | minus: total_for_first_pages
    if items_on_last_page == 0
      assign items_on_last_page = settings.products_per_page
    endif

    assign progress_end = settings.products_per_page
    if progress_end > paginate.items
      assign progress_end = paginate.items
    elsif paginate.pages == paginate.current_page
      assign progress_end = items_on_last_page
    endif

    assign current_html = progress_end | prepend: '<span data-progress-current>' | append: '</span>'
    assign total_html = paginate.items | prepend: '<span data-progress-total>' | append: '</span>'
  endpaginate
-%}
<p id="total-text" class="text-black text-medium">
  {{ 'general.load_more.info_html' | t: current: current_html, total: total_html  }}
</p>

<div id="filters">
  {%- render 'filters-native', sort_by: search.sort_by, main_element: search -%}
</div>

<div id="products" data-results-size="{{ search.results.size }}">
  {%- if search.results.size == 0 -%}
    <div class="is-grid search__empty-text">
      <div class="is-col-6 grid-col-start-4 center">
        <h3 class="h4">
          {{- 'templates.search.no_results' | t -}}
        </h3>
        <p>{{- 'templates.search.no_results_body_text' | t -}}</p>
      </div>
    </div>
  {%- else -%}
    {%- comment -%} Render collection products list {%- endcomment -%}
    {%- paginate search.results by settings.products_per_page -%}
      {%- render 'product-grid', 
        search: search,
        paginate: paginate,
        current_html: current_html,
        total_html: total_html,
        items_on_last_page: items_on_last_page,
        product_card_extra_id: section.id
      -%}
    {%- endpaginate -%}
  {%- endif -%} 
</div>