{%- comment -%} Import styles. {%- endcomment -%}
{%- liquid
  render 'import-styles', file_name: 'component-quantity-input.css', force: true
-%}

<quantity-input class="quantity">
  <button class="quantity__button no-js:hidden" name="minus" type="button">
    <span class="sr-only">
      {%- render 'format-translation',
        namespace: 'products.product.quantity',
        key: 'decrease',
        fallback: 'Decrease'
      -%}
    </span>
    {% comment %} {%- render 'global-icon', icon: 'trash', icon_class: 'w-3' -%} {% endcomment %}
    {%- render 'global-icon', icon: 'minus', icon_class: 'w-3' -%}
  </button>
  <input
    class="quantity__input"
    type="number"
    name="quantity"
    id="Quantity-{{ section.id }}"
    value="1"
    pattern="[0-9]*"
    inputmode="numeric"
  >
  <button class="quantity__button no-js:hidden" name="plus" type="button">
    <span class="sr-only">
      {%- render 'format-translation',
        namespace: 'products.product.quantity',
        key: 'increase',
        fallback: 'Increase'
      -%}
    </span>
    {% render 'global-icon', icon: 'plus' %}
  </button>
</quantity-input>
