{%- comment -%} Import styles for this section {%- endcomment -%}
{%- render 'import-styles', file_name: 'component-form.css', force: true -%}

{%- comment -%} Form icons {%- endcomment -%}
{%- liquid
  capture icons
    echo '<div class="field__icons">'
    render 'icons', icon: 'checkmark', icon_class: 'w-5'
    render 'icons', icon: 'cross', icon_class: 'w-5'
    echo '</div>'
  endcapture
-%}

<form class="form-fields">
  {%- comment -%} Default field {%- endcomment -%}
  <div class="field">
    <label class="field__label" for="field-1">Label</label>
    <input type="text" class="field__input" id="field-1" placeholder="Label">
    <div class="field__message">Form message</div>
  </div>

  {%- comment -%} E-mail field {%- endcomment -%}
  <div class="field">
    <label class="field__label" for="field-2">Email (Type to see the error message)</label>
    <input
      type="email"
      class="field__input"
      id="field-2"
      required=""
      placeholder="Email">
    {{ icons }}
    <div class="field__message field__message--error">Incorrect email format</div>
  </div>

  {%- comment -%} Password field {%- endcomment -%}
  <div class="field">
    <label class="field__label" for="field-3">Password</label>
    <input
      type="password"
      class="field__input"
      id="field-3"
      required=""
      placeholder="Password">
    {{ icons }}
    <div class="field__message field__message--error">Incorrect password</div>
  </div>

  {%- comment -%} Textarea field {%- endcomment -%}
  <div class="field">
    <label class="field__label" for="field-4">Textarea</label>
    <textarea class="field__textarea" id="field-4"></textarea>
  </div>

  {%- comment -%} Select field {%- endcomment -%}
  <div class="field">
    <label class="field__label" for="field-5">Selectbox</label>
    <div class="select relative">
      <select class="select__select" id="field-5" tabindex="0">
        <option value="">Default</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <span class="select__select-icon">
        {%- render 'icons', icon: 'chevron-down', icon_size: 'w-3' -%}
      </span>
    </div>
  </div>

  {%- comment -%}
    Styled select field
  {%- endcomment -%}
  <div class="field field--dropdown">
    <label class="field__label">Custom dropdown menu</label>
    <class-toggle-component
      class="field__dropdown-button"
      data-collapsible-trigger
      aria-haspopup="true"
      id="select-example-1"
      data-options='
        {
          "classToToggle": "field__dropdown--active",
          "target": "[data-select-example]",
          "ariaExpanded": true,
          "isDropdown": true
        }
      '>
      <button
        class="button button--secondary"
        aria-controls="dropdownMenu"
        aria-expanded="true"
        type="button">
        Custom dropdown menu
        {%- render 'icons', icon: 'caret', icon_class: 'rotate-90 w-3' -%}
      </button>
    </class-toggle-component>
    <div
      id="dropdownMenu"
      class="field__dropdown"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="select-example-1"
      tabindex="-1"
      data-select-example>
      <a href="#" class="field__dropdown-item" role="menuitem" tabindex="-1">Link 1</a>
      <a href="#" class="field__dropdown-item" role="menuitem" tabindex="-1">Link 2</a>
      <a href="#" class="field__dropdown-item" role="menuitem" tabindex="-1">Link 3</a>
    </div>
  </div>

  {%- comment -%} Checkboxes {%- endcomment -%}
  <p class="field__header font-bold">Checkboxes</p>

  <div class="field field--checkbox">
    <input type="checkbox" class="sr-only" id="checkbox-1" tabindex="0">
    <label class="field__checkbox-label" for="checkbox-1">Checkbox default</label>
  </div>

  <div class="field field--checkbox">
    <input type="checkbox" class="sr-only" id="checkbox-2" tabindex="0" checked>
    <label class="field__checkbox-label" for="checkbox-2">Checkbox checked</label>
  </div>

  <div class="field field--checkbox">
    <input type="checkbox" class="sr-only" id="checkbox-3" tabindex="0" disabled>
    <label class="field__checkbox-label" for="checkbox-3">Checkbox disabled</label>
  </div>

  {%- comment -%} Radio fields {%- endcomment -%}
  <p class="field__header font-bold">Radios</p>

  <div class="field field--radio">
    <input type="radio" class="sr-only" name="radio-default" id="radio-1" tabindex="0">
    {% comment %} <label class="field__radio" for="radio-1"></label> {% endcomment %}
    <label class="field__radio-label" for="radio-1">Radio input default</label>
  </div>

  <div class="field field--radio">
    <input type="radio" class="sr-only" name="radio-default" id="radio-2" tabindex="0" checked>
    {% comment %} <label class="field__radio" for="radio-2"></label> {% endcomment %}
    <label class="field__radio-label" for="radio-2">Radio input checked</label>
  </div>

  <div class="field field--radio">
    <input type="radio" class="sr-only" name="radio-default" id="radio-3" tabindex="0" disabled>
    {% comment %} <label class="field__radio" for="radio-3"></label> {% endcomment %}
    <label class="field__radio-label" for="radio-3">Radio input disabled</label>
  </div>

  {%- comment -%} Toggle field {%- endcomment -%}
  <p class="field__header font-bold">Switch button</p>

  <div class="field field--switch">
    <label class="field__switch-label flex gap-4" for="default-toggle-1">
      <input type="checkbox" value="" id="default-toggle-1" class="peer sr-only" tabindex="0">
      <div class="field__switch"></div>
      Enable notification
    </label>
  </div>

  {%- comment -%} Submit {%- endcomment -%}
  <p class="field__header font-bold">Submit button</p>
  <button type="submit" class="button button--primary">Submit</button>
  <button class="button button--outline">Cancel</button>
</form>
