<div>
  <h3 class="h5 mb-4">Collapsible</h3>
  <collapsible-component
    class="collapsible"
    data-options='
      {
        "closeSiblings": true
      }
    '>
    {%- for i in (1..3) -%}
      <div
        class="collapsible__group group block border-b border-t border-solid"
        data-collapsible-group>
        <button
          type="button"
          class="collapsible__trigger link flex w-full items-center justify-between py-4 no-underline group-[.collapsible-is-open]:font-bold"
          data-collapsible-trigger>
          Collapsible button {{ forloop.index }}
          <span class="collapsible__trigger-icons">
            {%- render 'icons', icon: 'plus', icon_class: 'w-3 block group-[.collapsible-is-open]:hidden' -%}
            {%- render 'icons', icon: 'minus', icon_class: 'w-3 hidden group-[.collapsible-is-open]:block' -%}
          </span>
        </button>
        <div
          class="collapsible__target max-w-none"
          data-collapsible-target>
          <div class="rte overflow-hidden">
            <div class="pb-4 pt-2">Collapsible content {{ forloop.index }}</div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </collapsible-component>
</div>

<div>
  <h3 class="h5 mb-4 mt-10">Collapsible using button styles</h3>
  <collapsible-component
    class="collapsible grid gap-4"
    data-options='
      {
        "closeSiblings": true
      }
    '>
    {%- for i in (1..3) -%}
      <div class="group" data-collapsible-group>
        <button
          type="button"
          class="collapsible__trigger button button--gradient w-full items-center justify-between"
          data-collapsible-trigger>
          Collapsible button {{ forloop.index }}
          {%- render 'icons', icon: 'collapsible', icon_class: 'w-3 collapsible__trigger-icon rotate-0 group-[.collapsible-is-open]:rotate-180' -%}
        </button>
        <div
          class="collapsible__content rte max-w-none break-words "
          data-collapsible-target>
          <div class="p-0 pb-4 pt-1">Collapsible content {{ forloop.index }}</div>
        </div>
      </div>
    {%- endfor -%}
  </collapsible-component>
</div>
