<div class="rte rounded p-8 shadow-lg">
  <h2>Headline 2</h2>
  <p>
    Lorem, ipsum dolor sit amet
    <a href="https://www.code.nl">consectetur adipisicing</a>
    elit. Necessitatibus dolore beatae molestias voluptas cumque facilis, recusandae omnis, nihil
    magni culpa tenetur quo aperiam, earum nisi at pariatur impedit voluptates quia!
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolore beatae molestias
    voluptas cumque facilis, recusandae omnis, nihil magni culpa tenetur quo aperiam, earum nisi at
    pariatur impedit voluptates quia!
  </p>

  <h3>Headline 3</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolore beatae molestias
    voluptas cumque facilis, recusandae omnis, nihil magni culpa tenetur quo aperiam, earum nisi at
    pariatur impedit voluptates quia!
  </p>

  <h4>Headline 4</h4>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolore beatae molestias
    voluptas cumque facilis, recusandae omnis, nihil magni culpa tenetur quo aperiam, earum nisi at
    pariatur impedit voluptates quia!
  </p>

  <h5>Headline 5</h5>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolore beatae molestias
    voluptas cumque facilis, recusandae omnis, nihil magni culpa tenetur quo aperiam, earum nisi at
    pariatur impedit voluptates quia!
  </p>

  <h6>Headline 6</h6>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolore beatae molestias
    voluptas cumque facilis, recusandae omnis, nihil magni culpa tenetur quo aperiam, earum nisi at
    pariatur impedit voluptates quia!
  </p>

  <blockquote>
    <p>
      Eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
      praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor
      cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
      possim assum.
    </p>
    <cite>The author of the quote</cite>
  </blockquote>

  <ul>
    <li>One</li>
    <li>Two</li>
    <li>
      Three, with child list
      <ul>
        <li>First sub item</li>
        <li>Second sub item</li>
        <li>
          Third sub item, with child list
          <ul>
            <li>Third level item</li>
            <li>Another third level item</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Four</li>
  </ul>

  <ol>
    <li>One</li>
    <li>Two</li>
    <li>
      Three, with child list
      <ol>
        <li>First sub item</li>
        <li>Second sub item</li>
        <li>
          Third sub item, with child list
          <ol>
            <li>Third level item</li>
            <li>Another third level item</li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Four</li>
  </ol>

  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Payment Status</th>
        <th>Fulfillment Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#1001</td>
        <td>December 22, 2015</td>
        <td>Authorized</td>
        <td>Unfulfilled</td>
        <td>$43.03</td>
      </tr>
      <tr>
        <td>#1002</td>
        <td>December 23, 2015</td>
        <td>Authorized</td>
        <td>Unfulfilled</td>
        <td>$44.03</td>
      </tr>
      <tr>
        <td>#1003</td>
        <td>December 24, 2015</td>
        <td>Authorized</td>
        <td>Unfulfilled</td>
        <td>$45.03</td>
      </tr>
      <tr>
        <td>#1004</td>
        <td>December 25, 2015</td>
        <td>Authorized</td>
        <td>Unfulfilled</td>
        <td>$46.03</td>
      </tr>
      <tr>
        <td>#1005</td>
        <td>December 26, 2015</td>
        <td>Authorized</td>
        <td>Unfulfilled</td>
        <td>$47.03</td>
      </tr>
      <tr>
        <td>#1006</td>
        <td>December 27, 2015</td>
        <td>Authorized</td>
        <td>Unfulfilled</td>
        <td>$48.03</td>
      </tr>
    </tbody>
  </table>
</div>
