{%- liquid
  assign ui_icons = '3d_model, account, arrow, box, cart, caret, caret_h1, chat_bubble, checkmark, clipboard, close, trash, discount, dryer, error, eye, filter, hamburger, heart, iron, leaf, leather, lock, map_pin, minus, pants, plane, play, plus, price_tag, question_mark, return, ruler, search, share, shirt, shoe, star, success, truck, user, washing, zoom' | split: ', '
  assign payment_icons = 'apple_pay, bancontact, google_pay, ideal, klarna, maestro, mastercard, paypal, sofort, visa' | split: ', '
  assign social_icons = 'facebook_round, instagram_round, pinterest_round, snapchat_round, tumblr_round, x_round, vimeo_round, youtube_round, facebook, instagram, pinterest, snapchat, tumblr, x, vimeo, youtube' | split: ', '

  assign icon_wrapper_class = 'flex flex-wrap gap-4'
-%}

{% comment %} User Interface icons {% endcomment %}
<div class="icons__project">
  <h3 class="mt-8 border-b pb-2">User interface icons</h3>

  <ul class="{{ icon_wrapper_class }}">
    {%- for icon in ui_icons -%}
      <li title="{{ icon | downcase }}">{%- render 'icons', icon: icon, icon_class: 'w-6' -%}</li>
    {%- endfor -%}
  </ul>
</div>

{% comment %} Payment icons {% endcomment %}
<div class="icons__payment">
  <h3 class="mt-8 border-b pb-2">Payment icons</h3>

  <ul class="{{ icon_wrapper_class }}">
    {%- for icon in payment_icons -%}
      <li>{%- render 'icons', icon: icon, icon_class: 'w-10' -%}</li>
    {%- endfor -%}
  </ul>
</div>

{% comment %} Spocial icons {% endcomment %}
<div class="icons__payment">
  <h3 class="mt-8 border-b pb-2">Social icons</h3>

  <ul class="{{ icon_wrapper_class }}">
    {%- for icon in social_icons -%}
      <li>{%- render 'icons', icon: icon, icon_class: 'w-6' -%}</li>
    {%- endfor -%}
  </ul>
</div>
