<style>
  [data-toggle-custom]:has(+ .hidden) .hide-text {
    display: none;
  }
  [data-toggle-custom]:not(:has(+ .hidden)) .show-text {
    display: none;
  }
</style>
<div class="relative">
  <class-toggle-component
    data-options='
      {
        "classToToggle": "hidden",
        "target": "[data-toggle-example-target]"
      }
    '
    data-toggle-custom>
    <button class="button button--primary">
      <span class="show-text">Show text</span>
      <span class="hide-text">Hide text</span>
    </button>
  </class-toggle-component>
  <div
    class="absolute top-full z-10 hidden max-w-md rounded bg-gray-50 p-6 shadow dark:bg-gray-700"
    data-toggle-example-target>
    <p>Toggled text is here</p>
  </div>
</div>
