@mixin states() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@layer h1-styles-components {
  @import '~@fancyapps/ui/src/Fancybox/Fancybox.scss';

  .fancybox__container {
    @apply text-inherit;
    .fancybox__backdrop {
      @apply bg-white;
    }
    .fancybox__content {
      @apply static;
    }
    .fancybox__toolbar {
      @apply bg-none text-inherit;
      &__items {
        .fancybox__button--thumbs,
        .fancybox__button--zoom,
        .fancybox__button--slideshow,
        .fancybox__button--fullscreen {
          @apply hidden;
        }
      }
    }
    .fancybox__counter {
      @apply hidden;
    }
    .fancybox__thumbs .carousel__slide {
      @apply transition-all;
      &:not(.is-nav-selected) {
        @apply opacity-50 states:scale-110 states:opacity-100;
      }
      .fancybox__thumb {
        @apply pt-[100%];
        &:after {
          @apply content-none;
        }
      }
    }
    .carousel__button {
      @apply shadow-none;
      svg {
        @apply w-4 filter-none;
      }
      &.is-next,
      &.is-prev,
      &.fancybox__button--close {
        @apply h-12
        w-12
        rounded-full
        border
        border-solid
        border-black
        shadow-none
        transition-all

        states:border
        states:bg-primary
        states:text-white;
        &:focus-visible {
          @apply border-primary-100
          bg-primary-100
          text-black
          ring-2
          ring-primary-300
          ring-offset-2;
        }
        @include states() {
          svg {
            @apply scale-110;
          }
        }
      }
      &.fancybox__button--close {
        @apply fixed
        end-4
        top-4;
      }
      &.is-next {
        @apply end-4;
      }
      &.is-prev {
        @apply start-4;
      }
    }

    .fancybox__carousel {
      .fancybox__slide {
        @apply p-0;
        &.has-image {
          @apply relative bg-white;
          .fancybox__content {
            @apply static;
          }
        }
        &.can-zoom_in {
          .fancybox__content {
            cursor: url('./zoom-in.svg') 20 20, zoom-in;
            img {
              cursor: url('./zoom-in.svg') 20 20, zoom-in;
            }
          }
        }
        &.is-draggable {
          @apply p-0;
          .fancybox__content {
            cursor: url('./zoom-out.svg') 20 20, zoom-out;
            img {
              cursor: url('./zoom-out.svg') 20 20, zoom-out;
            }
          }
        }
      }
    }
  }
}
