@use '../../mixins' as *;

@layer utilities {
  .color-scheme {
    background: var(--color-scheme-background-color);
    color: var(--text-color-default);
    --swiper-theme-color: var(--text-color-default);
    --text-link-color: var(--text-color-default);
    --text-link-color-states: var(--text-color-default);
    a {
      color: var(--text-link-color);
      text-decoration: underline;
      @include states() {
        text-decoration: none;
      }
    }

    // .color-scheme--black
    &--black {
      --color-scheme-background-color: var(--color-black);
      --text-color-default: var(--color-white);
    }
    // .color-scheme--white
    &--white {
      --color-scheme-background-color: var(--color-white);
      --text-color-default: var(--color-black);
    }
    // .color-scheme--primary
    &--primary {
      --color-scheme-background-color: var(--color-primary);
      --text-color-default: var(--color-primary-text);
    }
    // .color-scheme--gradient
    &--gradient {
      --color-scheme-background-color: var(--color-primary-gradient);
      --text-color-default: var(--color-primary-text);
      background-image: var(--color-scheme-background-color);
    }
    // .color-scheme--secondary
    &--secondary {
      --color-scheme-background-color: var(--color-secondary);
      --text-color-default: var(--color-secondary-text);
    }
    // .color-scheme--accent
    &--accent {
      --color-scheme-background-color: var(--color-accent);
      --text-color-default: var(--color-accent-text);
    }
    // .color-scheme--gray
    &--gray {
      --color-scheme-background-color: theme(colors.gray.200);
      --text-color-default: var(--color-black);
    }

    // .color-scheme--black
    // .color-scheme--secondary
    // These use the gradient button by default
    &--black,
    &--secondary {
      --button-text: var(--color-primary-text);
      --button-hover-text: var(--color-primary-text);
      --button-border-color: transparent;
      --button-hover-border-color: transparent;
      --button-background: linear-gradient(90deg, #e42f26, #e46a26 50%, #e42f26) 0/200%;
      --button-hover-background: linear-gradient(90deg, #e42f26, #e46a26 50%, #e42f26) 100%/200%;
    }
  }
}
