@layer utilities {
  :root {
    --color-scheme-text-color: theme('colors.text-default');
    --color-scheme-text-active-color: var(--color-scheme-text-color);
    --swiper-theme-color: var(--color-scheme-text-color);
  }
  .color-scheme {
    @apply bg-[var(--color-scheme-background-color)] text-[var(--color-scheme-text-color)];

    button,
    a {
      &:not([disabled]) {
        &:not(.button):not(.badge) {
          @apply text-[var(--color-scheme-text-color)]
          states:text-[var(--color-scheme-text-active-color)]
          states:no-underline;
          &.inverted,
          &.active {
            @apply text-[var(--color-scheme-text-active-color)]
            states:text-[var(--color-scheme-text-color)];
          }
        }
      }
    }
    *::marker {
      @apply text-[var(--color-scheme-text-active-color)];
    }

    // .color-scheme--black
    &--black {
      --color-scheme-background-color: theme('colors.black');
      --color-scheme-text-color: theme('colors.white');
      --color-scheme-text-active-color: theme('colors.primary.DEFAULT');
    }
    // .color-scheme--white
    &--white {
      --color-scheme-background-color: theme('colors.white');
      --color-scheme-text-color: theme('colors.black');
      --color-scheme-text-active-color: theme('colors.primary.DEFAULT');
    }
    // .color-scheme--primary
    &--primary {
      --color-scheme-background-color: theme('colors.primary.DEFAULT');
      --color-scheme-text-color: theme('colors.primary.text');
      --color-scheme-text-active-color: theme('colors.secondary.DEFAULT');
    }
    // .color-scheme--gradient
    &--gradient {
      --color-scheme-background-color: theme('colors.primary-gradient.DEFAULT');
      --color-scheme-text-color: theme('colors.primary.text');
      background-image: var(--color-scheme-background-color);
      --color-scheme-text-active-color: theme('colors.secondary.DEFAULT');
    }
    // .color-scheme--secondary
    &--secondary {
      --color-scheme-background-color: theme('colors.secondary.DEFAULT');
      --color-scheme-text-color: theme('colors.secondary.text');
      --color-scheme-text-active-color: theme('colors.accent.DEFAULT');
    }
    // .color-scheme--accent
    &--accent {
      --color-scheme-background-color: theme('colors.accent.DEFAULT');
      --color-scheme-text-color: theme('colors.accent.text');
      --color-scheme-text-active-color: theme('colors.secondary.DEFAULT');
    }
    // .color-scheme--gray
    &--gray {
      --color-scheme-background-color: theme('colors.gray.50');
      --color-scheme-text-color: theme('colors.black');
      --color-scheme-text-active-color: theme('colors.primary.DEFAULT');
    }

    // .color-scheme--white
    // .color-scheme--black
    // .color-scheme--secondary
    // These use the gradient button by default
    &--white,
    &--black,
    &--secondary {
      .button:not(.button--primary):not(.button--secondary):not(.button--outline):not(.button--outline-white):not(.button--gradient):not(.button--link) {
        --button-hover-text: theme('colors.primary.text');
        --button-hover-border-color: transparent;
        --button-hover-background: theme('colors.primary-gradient.bg-hover');
        &:not(.button--outline) {
          --button-text: theme('colors.primary.text');
          --button-border-color: transparent;
          --button-background: theme('colors.primary-gradient.bg');
        }
      }
    }

    .button.mobile-menu__toggle-button {
      --button-text: var(--color-scheme-text-color);
      --button-border-color: var(--color-scheme-text-color);
      --button-background: transparent;
      --button-hover-text: var(--color-scheme-text-active-color);
      --button-hover-border-color: var(--color-scheme-text-active-color);
      --button-hover-background: var(--color-scheme-text-active-color);
    }

    // .header-transparent - used for the header
    &.header-transparent {
      .template-index:not(.header-sticky):not(.desktop-submenu-is-open) & {
        --color-scheme-background-color: transparent;
      }
      &.header-transparent-text--text-black {
        .template-index:not(.header-sticky):not(.desktop-submenu-is-open) & {
          --color-scheme-text-color: theme('colors.black');
        }
      }
      &.header-transparent-text--text-white {
        .template-index:not(.header-sticky):not(.desktop-submenu-is-open) & {
          --color-scheme-text-color: theme('colors.white');
        }
      }
    }
  }
}
