@mixin small {
  @apply px-2 py-1 text-xs;
}
@mixin medium {
  @apply px-3 py-1.5 text-sm;
}

@layer components {
  .badges {
    &--sm {
      .badge {
        @include small;
      }
    }
    &--md {
      .badge {
        @include medium;
      }
    }
  }
  .badge {
    background-color: var(--product-badge-background, theme('colors.black'));
    color: var(--product-badge-text, theme('colors.text-default'));
    @include small;
    @apply pointer-events-none
    inline-block
    select-none
    break-words
    rounded-md;

    @screen md {
      @include medium;
    }

    // Variants
    &--new {
      --product-badge-background: theme('colors.primary.DEFAULT');
      --product-badge-text: theme('colors.primary.text');
    }
    &--sold-out {
      --product-badge-background: theme('colors.danger');
      --product-badge-text: theme('colors.white');
    }
    &--pre-order {
      --product-badge-background: theme('colors.accent.DEFAULT');
      --product-badge-text: theme('colors.accent.text');
    }
    &--sale {
      --product-badge-background: theme('colors.success');
      --product-badge-text: theme('colors.white');
    }
  }
}
