@layer components {
  button,
  .button {
    @apply disabled:pointer-events-none
    disabled:cursor-not-allowed
    disabled:opacity-50;

    svg {
      @apply fill-current;
    }
  }
  .button {
    --button-background: theme('colors.secondary.DEFAULT');
    --button-border-color: theme('colors.secondary.DEFAULT');
    --button-text: theme('colors.secondary.text');

    --button-hover-background: theme('colors.secondary.400');
    --button-hover-border-color: theme('colors.secondary.400');
    --button-hover-text: theme('colors.secondary.text');
    background: var(--button-background); // hack is needed because tailwind only outputs background-image and that doesn't work with gradients

    @apply relative
    inline-flex
    cursor-pointer
    flex-wrap
    items-center
    justify-center
    gap-2
    rounded-md
    border-2
    border-[var(--button-border-color)]
    px-4
    py-3
    text-sm
    font-bold
    leading-none
    text-[var(--button-text)]
    no-underline
    transition-all

    states:no-underline;

    &:not([disabled]) {
      @apply states:border-[var(--button-hover-border-color)]
      states:bg-[var(--button-hover-background)]
      states:text-[var(--button-hover-text)];
    }
    &:hover {
      background: var(--button-hover-background);
    }

    // .button--link
    &--link {
      @apply border-transparent;
    }

    // .button--loading
    &.loading,
    &--loading {
      @apply pointer-events-none text-transparent;
      &:after {
        @apply absolute block aspect-square h-6 w-6 animate-spin rounded-full border-2 border-[var(--button-text)] border-l-transparent content-empty;
      }
      &.button--outline {
        --button-text: theme('colors.secondary.DEFAULT');
      }
    }

    // for 'a' elements with a button class
    &:link {
      @apply text-[var(--button-text)];
      &:not([disabled]) {
        @apply states:text-[var(--button-hover-text)];
      }
    }
  }

  /* Button styles */
  .button--primary,
  .button--gradient {
    --button-text: theme('colors.primary.text');
    &,
    &.button--outline {
      --button-hover-text: theme('colors.primary.text');
    }
  }

  .button--primary {
    --button-background: theme('colors.primary.600');
    --button-border-color: theme('colors.primary.600');
    &,
    &.button--outline {
      --button-hover-background: theme('colors.primary.700');
      --button-hover-border-color: theme('colors.primary.700');
    }
  }

  .button--gradient {
    @apply duration-500 ease-in;
    --button-background: theme('colors.primary-gradient.bg');
    --button-border-color: transparent;
    &,
    &.button--outline {
      --button-hover-background: theme('colors.primary-gradient.bg-hover');
      --button-hover-border-color: transparent;
    }
  }

  .button--secondary {
    --button-background: theme('colors.secondary.DEFAULT');
    --button-border-color: theme('colors.secondary.DEFAULT');
    --button-text: theme('colors.secondary.text');
    &,
    &.button--outline {
      --button-hover-background: theme('colors.secondary.400');
      --button-hover-border-color: theme('colors.secondary.400');
      --button-hover-text: theme('colors.secondary.text');
    }
  }

  .button--outline {
    --button-background: transparent;
    --button-border-color: var(--button-text);
    --button-text: inherit;
    --button-hover-background: theme('colors.secondary.DEFAULT');
    --button-hover-border-color: theme('colors.secondary.DEFAULT');
    --button-hover-text: theme('colors.secondary.text');
  }

  .button--outline-white {
    --button-background: transparent;
    --button-border-color: theme('colors.white');
    --button-text: theme('colors.white');
    --button-hover-background: theme('colors.white');
    --button-hover-border-color: theme('colors.black');
    --button-hover-text: theme('colors.black');
  }

  .button--link {
    --button-background: transparent;
    --button-border-color: transparent;
    --button-text: theme('colors.text-default');
    --button-hover-background: transparent;
    --button-hover-border-color: transparent;
    --button-hover-text: theme('colors.primary.DEFAULT');
  }

  /* Button sizes */
  .button--sm {
    @apply px-3 py-1 text-xs leading-4;
  }

  .button--md {
    @apply px-4 py-2 text-sm;
  }

  .button--lg {
    @apply px-8 py-3 text-base;
  }

  .button--xl {
    @apply px-8 py-5 text-lg leading-6;
  }

  /**
    * Shopify buttons
  */
  .shopify-challenge__button {
    @extend .button;
    @extend .button--primary;
    @extend .button--lg;
  }

  .shopify-payment-button {
    button {
      @apply button--secondary
        relative
        box-border
        inline-flex
        cursor-pointer
        flex-wrap
        items-center
        justify-center
        gap-2
        rounded-none
        border
        border-none
        border-[var(--button-border-color,inherit)]
        bg-[var(--button-background,inherit)]
        text-sm
        font-bold
        leading-normal
        no-underline
        transition-colors
        disabled:hidden #{!important};
      &:not([disabled]) {
        @apply states:border-[var(--button-hover-border-color,inherit)]
          states:bg-[var(--button-hover-background,inherit)]
          states:text-[var(--button-hover-text,inherit)]
          states:no-underline #{!important};
      }
      + button {
        @apply mb-2;
      }
      &.shopify-payment-button__button--hidden {
        @apply hidden #{!important};
      }
    }
  }

  // Overwrite Shopify styling
  .shopify-payment-button__more-options,
  .shopify-payment-button__button--unbranded {
    all: unset;
    @apply rounded-none bg-secondary states:bg-secondary-400 #{!important};
  }

  /**
    * Text link without paddings
  */
  .link {
    @apply inline-flex
      cursor-pointer
      flex-wrap
      items-center
      justify-center
      gap-2
      text-sm
      font-bold
      text-primary-600
      underline
      transition-colors

      states:text-[var(--text-text-default)]
      states:no-underline;
    // link in text color
    &.link--text {
      @apply text-text-default;
    }
  }
}
