@layer components {
  [data-collapsible-group] {
    [data-collapsible-target] {
      @apply transition-[grid-template-rows]
      js:grid
      js:grid-rows-[0fr]
      js:duration-500;
    }
    &.collapsible-is-open {
      > [data-collapsible-target] {
        @apply js:grid-rows-[1fr];
      }
    }
  }
}
