/**
Normal form elements should be marked up as follows:

<div class="field">
  <label class="field__label" for="example-1">
    Example 1
  </label>
  <input name="customer[password]" placeholder="Example 1" class="field__input" id="example-1">
</div>

Form elements with validation:
Native no js browser css state is used to check input states.
Set the field input element attribute to required and add icons in the example structure below.

capture icons
  echo '<div class="field__icons">'
  render 'icons', icon: 'checkmark', icon_class: 'w-5'
  render 'icons', icon: 'cross', icon_class: 'w-5'
  echo '</div>'
endcapture

<div class="field">
  <label class="field__label" for="example-1">
    Example 2
  </label>
  <input name="customer[password]" placeholder="Example 2" class="field__input" id="example-2" required>
  {{- icons -}}
  {%- if form.errors contains 'password' -%}
    <span id="RegisterForm-password-error" class="field__message field__message--error">
      {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
    </span>
  {%- endif -%}
</div>

*/

@layer components {
  .field {
    @apply relative
    mb-element-spacing
    w-full
    last:mb-0;

    // .field__label
    // .field__header
    &__label,
    &__header {
      @apply mb-2
      block
      text-sm
      font-bold
      text-inherit;
      &[aria-hidden='true'] {
        @apply hidden;
      }
    }

    // .field__input
    // .field__textarea
    // .select__select
    &__input,
    &__textarea,
    .select__select {
      @apply block
      w-full
      rounded-md
      border-transparent
      px-4
      py-2.5
      font-body

      text-black
      shadow-none
      ring-transparent
      transition-all
      duration-75
      ease-linear

      placeholder:text-gray-600
      hover:border-primary-200

      focus:shadow-none
      focus:shadow-transparent
      focus:ring-transparent
      focus-visible:border-primary-100

      focus-visible:border-transparent
      focus-visible:ring-2
      focus-visible:ring-primary-300
      focus-visible:ring-offset-2;

      &:focus {
        &::placeholder {
          @apply text-gray-200;
        }
      }
      &:invalid:not(:placeholder-shown),
      &[aria-invalid='true']:invalid {
        @apply border-danger;
      }
      &::-webkit-search-cancel-button {
        @apply hidden;
      }
    }
    &__input,
    .select__select {
      &:invalid:not(:placeholder-shown),
      &[aria-invalid='true']:invalid {
        ~ .field__icons .icon--cross {
          @apply block fill-danger stroke-danger;
        }
        ~ .field__message--error {
          @apply block;
        }
      }
      &:valid[required],
      &:invalid:not(:placeholder-shown) {
        @apply pe-14; // preserve space for icons
      }
      &:valid[required] {
        ~ .field__icons .icon--checkmark {
          @apply block;
        }
        ~ .field__message {
          @apply hidden;
        }
      }
      &:disabled[required] {
        @apply cursor-default opacity-30;
        ~ .field__message,
        ~ .field__label {
          @apply opacity-30;
        }
      }
      ~ .field__icons .icon {
        @apply absolute
        end-3
        top-1/2
        hidden
        -translate-y-1/2
        text-[initial];
      }
    }

    // .field__textarea
    &__textarea {
      @apply h-20 p-4;
    }

    // .field__message
    &__message {
      @apply mt-2
      block
      w-full
      flex-none
      text-sm;
      &--error {
        @apply hidden
        text-danger;
      }
    }

    // .field__shopify-checkbox
    // .field--checkbox
    &__shopify-checkbox,
    &--checkbox {
      @apply flex gap-2;
    }

    // .field__shopify-checkbox
    &__shopify-checkbox input[type='checkbox'] {
      @apply sr-only;
    }

    // input .field__checkbox, .field__shopify-checkbox
    &__shopify-checkbox input[type='checkbox'],
    &__checkbox {
      @apply flex
        h-5
        w-5
        shrink-0
        cursor-pointer
        items-center
        justify-center
        gap-2
        border-none
        text-black;
    }
    // .field__checkbox-label
    &__checkbox-label {
      @apply relative
      mb-0
      flex
      shrink-0
      cursor-pointer
      items-center
      justify-center
      text-sm
      text-black
      transition-colors;
      &:before,
      &:after {
        @apply h-5
        w-5
        content-[''];
      }
      &:before {
        @apply me-2
        rounded-sm
        border-none
        bg-gray-100
        content-[''];
      }
    }
    input:focus-visible + {
      .field__checkbox-label {
        @apply text-primary;
        &:before {
          @apply ring-1 ring-primary-300 ring-offset-0;
        }
      }
    }

    input:checked + &__checkbox-label,
    &:hover + &__checkbox-label {
      &:after {
        @apply absolute
        start-0 h-5 w-5 content-[''];
        background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='presentation' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' d='M16.136 6.979h0l.003-.004a1.499 1.499 0 00-2.275-1.954l-5.945 6.777-1.858-1.859A1.499 1.499 0 103.94 12.06l2.999 3s0 0 0 0c.289.29.675.44 1.1.439h.019a1.5 1.5 0 001.08-.522l6.998-7.998z'/%3E%3C/svg%3E")
          no-repeat;
      }
    }
    input:checked + &__checkbox-label {
      @apply cursor-default;
    }
    &:hover &__checkbox-label {
      @apply text-primary;
      &:after:not(:checked) {
        @apply opacity-50;
      }
    }
    input:disabled ~ &__checkbox-label {
      @apply pointer-events-none
      cursor-default
      text-text-default
      line-through
      opacity-50;
    }

    // .field--radio
    &--radio {
      @apply flex gap-2;
    }

    input:focus-visible + &__radio-label:before {
      @apply ring-2 ring-primary-300 ring-offset-2;
    }
    input:checked + &__radio-label {
      @apply cursor-default;
      &:after {
        @apply opacity-100;
      }
    }
    input:disabled + &__radio-label {
      @apply pointer-events-none;
      &:after {
        @apply opacity-0;
      }
    }

    // .field__radio-label
    &__radio-label {
      @apply relative
      mb-0
      flex
      shrink-0
      cursor-pointer
      items-center
      justify-center
      gap-2
      text-sm

      text-text-default
      transition-colors;
      &:before {
        @apply h-5
        w-5
        cursor-pointer
        rounded-full
        border-none
        content-[''];
      }
      &:after {
        @apply absolute
        start-1.5
        h-2
        w-2
        rounded-full
        bg-black
        opacity-0
        transition-opacity
        content-[''];
      }
    }
    &:hover .field__radio-label {
      @apply text-primary;
    }
    input:disabled ~ .field__radio-label {
      @apply pointer-events-none
      cursor-default
      text-text-default
      line-through
      opacity-50;
    }

    // .field__dropdown
    .field__dropdown {
      @apply pointer-events-none
      absolute
      start-0
      top-full
      z-10
      mt-1
      flex
      w-56
      origin-top-right
      flex-col
      border
      bg-white
      py-3
      opacity-0
      shadow-md
      transition-opacity;
      // .field__dropdown--active
      &--active {
        @apply pointer-events-auto opacity-100;
      }
    }

    .field__dropdown-item {
      @apply px-3 text-sm text-black transition-colors hover:text-primary hover:no-underline;
    }

    // .field__text-area
    &__text-area {
      @apply h-40
      resize-none
      p-6;
      &--resize-vertical {
        @apply resize-y;
      }
    }

    // .field--switch
    &--switch {
      @apply relative
      inline-flex
      w-full
      cursor-pointer
      items-center
      gap-2;
    }

    // .field__switch
    &__switch {
      @apply relative
     h-5
     w-9
     rounded-full
     border
     border-transparent
     bg-gray-100;
      &:after {
        @apply absolute
        start-[1px]
        top-[1px]
        h-4
        w-4
        rounded-full
        bg-white
        transition-all
        content-[''];
      }
    }

    // .field__switch-label
    &__switch-label {
      @apply mb-0
      block
      cursor-pointer
      text-sm
      text-text-default
      transition-colors;
    }
    input:focus-visible + .field__switch {
      @apply ring-2 ring-primary-300 ring-offset-2;
    }
    input:checked + .field__switch {
      @apply border-black;
      &:after {
        @apply translate-x-full
        bg-black;
      }
    }
    input:disabled + .field__switch {
      @apply pointer-events-none;
    }
    &:hover .field__switch-label {
      @apply text-black;
    }
    input:disabled ~ .field__switch-label {
      @apply pointer-events-none
      cursor-default
      text-text-default
      line-through
      opacity-50;
    }
  }
  .select {
    @apply relative;
    // .select__select
    &__select {
      background-image: none;
      @apply cursor-pointer;
      &:has(+ .select__select-icon) {
        @apply pe-12;
      }
    }

    // .select__select-icon
    &__select-icon {
      @apply pointer-events-none
      absolute
      end-4
      top-1/2
      origin-center
      -translate-y-1/2
      text-[initial];
    }
  }

  .errors {
    @apply mb-4 text-sm;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }

  @mixin thumb-focus() {
    @apply ring-2
    ring-primary-300
    ring-offset-2;
  }
  @mixin thumb() {
    @apply pointer-events-auto
    relative
    -top-1.5
    z-10
    block
    h-4
    w-4
    cursor-pointer
    appearance-none
    rounded-[50%]
    bg-primary;
  }
  @mixin track() {
    @apply pointer-events-none
    h-1.5
    w-full
    rounded-sm
    border-none
    bg-none;
  }

  input[type='range'] {
    @apply pointer-events-none
    absolute
    start-0
    w-full
    appearance-none
    bg-transparent
    states:outline-none;
    &:focus-visible {
      @apply outline-none;
    }
    &::-moz-range-thumb {
      @include thumb();
    }
    &::-webkit-slider-thumb {
      @include thumb();
    }
    &::-moz-range-track {
      @include track();
    }
    &::-webkit-slider-runnable-track {
      @include track();
    }
    &:focus-visible,
    &:focus {
      &::-moz-range-thumb {
        @include thumb-focus();
      }
      &::-webkit-slider-thumb {
        @include thumb-focus();
      }
    }
  }
  input,
  select,
  textarea {
    @apply font-normal;
    &:disabled {
      &,
      + .field__radio-label:before,
      + .field__checkbox-label:before {
        @apply bg-gray-50;
      }
    }
    &:not(:disabled) {
      &,
      + .field__radio-label:before,
      + .field__checkbox-label:before {
        @apply bg-gray-100;
      }
      .color-scheme:not(.color-scheme--white) & {
        &,
        + .field__radio-label:before,
        + .field__checkbox-label:before {
          @apply bg-white;
        }
      }
    }
  }
}
