@layer components {
  .options {
    @apply flex flex-wrap gap-1;
  }

  .option {
    @apply relative p-1;
    // .option__input
    &__input {
      @apply sr-only;
    }
    // .option__label
    // .option__swatch
    &__label,
    &__swatch {
      @apply relative
        flex
        min-h-[32px]
        min-w-[32px]
        cursor-pointer
        items-center
        justify-center
        rounded-full
        border
        border-gray-100
        bg-white
        p-1
        px-2
        text-center
        text-xs
        leading-4
        text-text-default
        no-underline
        transition-all

         states:bg-primary
        states:text-primary-text;

      // .option__label--disabled
      // .option__swatch--disabled
      &--disabled {
        @apply pointer-events-none
          cursor-not-allowed
          overflow-hidden
          opacity-50
          before:hidden;
        &:after {
          @apply absolute
          start-1/2
          top-1/2
          block
          h-[100%]
          w-[1px]
          -translate-x-1/2
          -translate-y-1/2
          rotate-45
          bg-gray-300
          content-empty;
        }
      }
    }
    &__swatch {
      @apply aspect-square
      h-full
      w-8;
      &:link {
        @apply focus-visible:outline-offset-[3px];
      }
    }
    // .option__input
    // .option__label
    // .option__label--checked
    // .option__swatch
    // .option__swatch--checked
    &__input:checked + &__swatch,
    &__input:checked + &__label,
    &__label--checked,
    &__swatch--checked {
      @apply border-transparent
      bg-primary-600
      text-primary-text
      outline
      outline-1
      outline-offset-[3px]
      outline-black;
      &:hover,
      &:focus-visible {
        @apply bg-primary-300 outline-none;
      }
    }
    // .option__input
    &__input {
      &:checked,
      &:disabled {
        + .option__swatch,
        + .option__label {
          @apply pointer-events-none;
        }
      }
      &:focus-visible {
        + .option__swatch,
        + .option__label {
          @apply outline-none
            ring-2
            ring-primary-300
            ring-offset-4;
        }
      }
    }
  }
}
