@layer components {
  .options {
    @apply flex flex-wrap gap-1;
  }

  .option {
    @apply relative p-1;
    // .option__input
    &__input {
      @apply sr-only;
    }
    // .option__label
    &__label {
      @apply relative
        flex
        aspect-square
        h-full
        w-8
        cursor-pointer
        items-center
        justify-center
        rounded-full
        border
        border-gray-100
        bg-white
        p-1
        px-2
        text-center
        text-xs
        leading-4
        text-text-default
        no-underline
        transition-colors

        states:bg-primary
        states:text-primary-text;

      // .option__label--disabled
      &--disabled {
        @apply pointer-events-none
          cursor-not-allowed
          overflow-hidden
          text-gray-700
          opacity-50
          before:hidden;
        &:after {
          @apply absolute
          start-1/2
          top-1/2
          block
          h-[100%]
          w-[1px]
          -translate-x-1/2
          -translate-y-1/2
          rotate-45
          bg-gray-300
          content-empty;
        }
      }
    }
    // .option__input
    // .option__label
    // .option__label--checked
    &__input:checked + &__label,
    &__label--checked {
      @apply border-transparent
      bg-primary-600
      text-primary-text
      outline
      outline-offset-[3px]
      outline-primary-600;
      &:hover,
      &:focus-visible {
        @apply bg-primary-300 outline-none;
      }
    }
    &__input {
      &:focus-visible {
        + .option__label {
          @apply outline-none ring-2 ring-primary-300 ring-offset-4;
        }
      }
    }
  }
}
