@use '../../mixins' as *;

@layer components {
  .price {
    dd,
    dt {
      @apply m-0;
    }
    &__item {
      color: var(--price-color, var(--text-color-default));
      @apply font-bold;
      &--sale {
        --price-color: var(--color-primary);
      }
      &--compare {
        --price-color: var(--text-color-light);
        @apply font-body;
      }
    }
  }
}
